@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">

                <input type="hidden" id="deviceid" value="${deviceId}">
                <input type="hidden" id="userid" value="${shiro.getUser().id}">

                <h4 id="datenow">当前时间</h4>
                <div class="hr-line-dashed"></div>
                <#input id="returntime" name="预计归还时间" underline="true" type="text"/>


            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DeviceBorrowDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DeviceBorrowDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/device/device_borrow.js"></script>
<script>
    laydate.render({
        elem: '#returntime'
    });
</script>
@}
