@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>我的借用</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Myborrow.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BorowTableToolbar" role="group">
                            @if(shiro.hasPermission("/myborrow/return")){
                            <#button name="归还" icon="fa-minus-square-o" clickFun="Myborrow.return()" space="true"/>
                            @}
                        </div>
                        <#table id="BorowTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/myborrow/myborrow.js"></script>
@}
