@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>失效审批管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="HandledApply.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="HandledApplyTableToolbar" role="group">
                            @if(shiro.hasPermission("/handledApply/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="HandledApply.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="HandledApplyTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/handledApply/handledApply.js"></script>
@}
